*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  color: #22252c;
  background-color: #00d7bb; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.7rem; }

p {
  font-size: 1.6rem;
  color: white; }

.heading-primary {
  color: white;
  text-transform: uppercase; }
  .heading-primary__small {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem; }
  .heading-primary__main {
    display: block;
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: 2rem; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.07rem; }

.heading-secondary {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00f298, #07f7f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.section-about__list {
  list-style: none;
  color: #fff; }
  .section-about__list-item {
    font-size: 1.8rem;
    line-height: 2.5;
    color: white; }
    .section-about__list-item--bold {
      font-weight: 500;
      text-transform: uppercase;
      color: #00d7bb;
      padding-right: 1rem; }

.u-align-center-vertcally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.progress {
  height: 5rem;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between; }
  .progress__title {
    display: block;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .progress__line {
    height: 1rem;
    width: 30rem;
    margin: auto;
    background-color: #22252c;
    border-radius: 5rem; }
    .progress__line-part {
      position: relative;
      height: 100%;
      width: 85%;
      background-color: #00d7bb;
      border-radius: inherit; }
  .progress__dot {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1.7rem !important;
    width: 1.7rem !important;
    background-color: #00d7bb;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 242, 152, 0.6), rgba(7, 247, 247, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    width: 6rem; }
  .header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
    position: absolute;
    width: 110rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__img {
    border-radius: 5px; }

.section-about {
  background-color: #22252c;
  height: 100vh;
  position: relative; }
  .section-about__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110rem;
    transform: translate(-50%, -50%); }
  .section-about__img-box {
    display: inline-block;
    position: relative; }
  .section-about__img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    object-position: center; }
  .section-about__img-shape {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: 35rem;
    width: 35rem;
    border: 1rem solid #00d7bb;
    z-index: -1; }

.section-interests {
  background-color: #22252c;
  height: 50vh;
  position: relative; }
  .section-interests__list {
    display: flex;
    flex-direction: row;
    width: 90rem;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-interests__list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center; }
  .section-interests__list-icon {
    position: relative;
    display: inline-flex;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #00d7bb;
    padding-bottom: 4rem; }
    .section-interests__list-icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      color: #00d7bb; }
    .section-interests__list-icon:hover {
      box-shadow: #00f2993b 0px 0px 40px 0px;
      background-image: linear-gradient(to right bottom, #00f298, #07f7f7);
      cursor: pointer; }
      .section-interests__list-icon:hover i {
        color: #22252c; }

.professional-skills__heading {
  position: relative;
  padding: 6rem 0;
  background-color: #22252c;
  text-align: center; }

.professional-skills__box {
  width: 110rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem;
  background-color: #313741; }

@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }
