*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  color: #22252c;
  background-color: #00d7bb; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.7rem; }

p {
  font-size: 1.6rem;
  color: white; }

.heading-primary {
  color: white;
  text-transform: uppercase; }
  .heading-primary__small {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5rem; }
  .heading-primary__main {
    display: block;
    font-size: 7.2rem;
    font-weight: 400;
    letter-spacing: 2rem; }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.07rem; }

.heading-secondary {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00f298, #07f7f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-tertiary {
  font-size: 4rem;
  color: #22252c;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0.8; }

.heading-quaternary {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1; }

.section-about__list {
  list-style: none;
  color: #fff; }
  .section-about__list-item {
    font-size: 1.8rem;
    line-height: 2.5;
    color: white; }
    .section-about__list-item--bold {
      font-weight: 500;
      text-transform: uppercase;
      color: #00d7bb;
      padding-right: 1rem; }

.progress__percentage {
  position: absolute;
  left: 50%;
  top: -2rem;
  transform: translate(-50%, -50%);
  color: white; }

.u-align-center-vertcally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn,
.btn:active,
.btn:visited {
  text-decoration: none !important; }

.btn-secondary {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  width: 15rem;
  padding: 1rem 3rem;
  background-color: #22252c;
  color: #00d7bb;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: all 0.3s; }
  .btn-secondary:hover {
    background-color: #00d7bb;
    border: 3px solid #22252c;
    color: #22252c; }

.progress {
  height: 5rem;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between; }
  .progress__title {
    display: block;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .progress__line {
    height: 0.75rem;
    width: 42rem;
    margin: auto;
    background-color: #22252c; }
    .progress__line-part {
      position: relative;
      height: 100%;
      width: 0;
      background-color: #00d7bb;
      border-radius: inherit; }
    .progress__line .p-html {
      width: 85%; }
    .progress__line .p-css {
      width: 80%; }
    .progress__line .p-javascript {
      width: 65%; }
    .progress__line .p-react {
      width: 40%; }
    .progress__line .p-angular {
      width: 40%; }
    .progress__line .p-python {
      width: 40%; }
  .progress__dot {
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.3rem !important;
    width: 1.3rem !important;
    background-color: #00d7bb;
    border-radius: 50%;
    box-shadow: 0 0 5px 0px; }

.footer {
  position: relative;
  height: 75vh !important;
  width: 100%;
  background-color: #22252c; }
  .footer__box {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .footer__logo img {
    height: 15rem; }
  .footer__copyright-text {
    font-size: 1.6rem;
    color: #fff; }
  .footer__social-icons {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; }
  .footer__social-item {
    background-color: #313741;
    height: 5rem;
    width: 5rem;
    display: grid;
    place-items: center;
    border-radius: 50%; }
    .footer__social-item ion-icon {
      color: #00d7bb !important; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 242, 152, 0.6), rgba(7, 247, 247, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    width: 6rem; }
  .header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
    position: absolute;
    width: 110rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__img {
    border-radius: 5px; }

.section-about {
  background-color: #22252c;
  height: 100vh;
  position: relative; }
  .section-about__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110rem;
    transform: translate(-50%, -50%); }
  .section-about__img-box {
    display: inline-block;
    position: relative; }
  .section-about__img {
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    object-position: center; }
  .section-about__img-shape {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    height: 35rem;
    width: 35rem;
    border: 1rem solid #00d7bb;
    z-index: -1; }

.section-interests {
  background-color: #22252c;
  height: 50vh;
  position: relative;
  color: white; }
  .section-interests__list {
    display: flex;
    flex-direction: row;
    width: 90rem;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-interests__list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 14rem; }
  .section-interests__list-icon {
    position: relative;
    display: inline-flex;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px #00d7bb;
    padding-bottom: 4rem; }
    .section-interests__list-icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      color: #00d7bb; }
    .section-interests__list-icon:hover {
      box-shadow: #00f2993b 0px 0px 40px 0px;
      background-image: linear-gradient(to right bottom, #00f298, #07f7f7);
      cursor: pointer; }
      .section-interests__list-icon:hover i {
        color: #22252c; }

.professional-skills {
  width: 100%;
  background-color: #313741;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .professional-skills__heading {
    position: relative;
    padding: 1rem 0 8rem 0;
    background-color: #22252c;
    text-align: center; }
  .professional-skills__box {
    width: 110rem;
    margin: auto;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 7.5rem 0;
    background-color: #313741; }

.cards {
  height: 75vh;
  background-color: #22252c;
  position: relative; }
  .cards__content {
    display: inline-flex;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .cards__item {
    height: 35rem;
    width: 35rem;
    background-color: #313741;
    transition: transform 0.3s; }
    .cards__item:hover {
      transform: scale(1.1);
      background-color: #00d7bb !important; }

.portfolio__heading {
  position: relative;
  padding: 8rem 0;
  background-color: #22252c;
  text-align: center; }

.portfolio__main {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(7, 247, 247, 0.6), rgba(0, 242, 152, 0.6)), url(../img/portfolio-bg.jpg); }

.portfolio__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
  grid-template-areas: '. . .' '. . .' '. . .'; }

.portfolio__item {
  height: 20.25rem;
  width: 36rem;
  background-color: #22252c;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px; }
  .portfolio__item:hover {
    transform: scale(1.03);
    background-color: #00d7bb;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 50px;
    z-index: 100; }

.clients {
  height: 100vh;
  width: 100%;
  background-color: #22252c;
  text-align: center;
  position: relative; }
  .clients__header {
    padding: 12rem; }

.client-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .client-box__users {
    display: flex;
    gap: 5rem; }
  .client-box__user-image {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transition: filter 0.5s, transform 0.5s;
    transition-delay: unset;
    cursor: pointer;
    filter: grayscale(100%);
    transform: scale(0.75); }
    .client-box__user-image:hover {
      filter: none;
      transform: scale(1); }
    .client-box__user-image img {
      border-radius: inherit; }
    .client-box__user-image--active {
      transform: none;
      filter: none; }
  .client-box__user-name {
    font-size: 3.2rem;
    color: #00d7bb;
    padding: 3rem 0; }
  .client-box__text {
    position: relative;
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-style: italic;
    width: 120%;
    color: white;
    line-height: 1.3; }
  .client-box i {
    font-size: 4rem;
    color: #313741; }
  .client-box .fa-quote-left {
    position: absolute;
    top: 0;
    left: -5rem; }
  .client-box .fa-quote-right {
    position: absolute;
    top: 0;
    right: -5rem; }

.hire-me {
  position: relative;
  height: 30vh;
  width: 100%;
  background-color: #00d7bb; }
  .hire-me__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 110rem; }
    .hire-me__content .fa-paper-plane {
      font-size: 7.5rem;
      color: #22252c; }

@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }
