.progress {
	height: 5rem;
	position: relative;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;

	&__title {
		display: block;
		text-transform: uppercase;
		font-size: 1.8rem;
	}

	&__line {
		height: 1rem;
		width: 30rem;
		margin: auto;
		background-color: $color-grey-dark;
		border-radius: 5rem;

		&-part {
			position: relative;
			height: 100%;
			width: 85%;
			background-color: $color-primary;
			border-radius: inherit;
		}
	}

	&__dot {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 1.7rem !important;
		width: 1.7rem !important;
		background-color: $color-primary;
		border-radius: 50%;
		box-shadow: 0 0 5px 0px;
	}
}
